model_config_list: {
    config: {
        name: 'plant_disease_clf_models'
        base_path: '/plant_disease_clf/saved_models/tf-serving/versions'
        model_platform: 'tensorflow'
        model_version_policy: {
            specific: {
                versions: 1
                versions: 2
                versions: 3
            }
        }
        version_labels{
            key: 'potato'
            value: 1
        }
        version_labels{
            key: 'tomato'
            value: 2
        }
         version_labels{
            key: 'pepper'
            value: 3
        }
       
    }
}

