model_config_list: {
    config: {
        name: 'potato'
        base_path: '/plant_disease_clf/saved_models/tf-serving/models/potato_PDC_ImageDataGenerator'
        model_platform: 'tensorflow'
        model_version_policy: {
            specific: {
                versions: 1
            }
        }
        version_labels{
            key: 'stable'
            value: 1
        }
       
    }

    config: {
        name: 'tomato'
        base_path: '/plant_disease_clf/saved_models/tf-serving/models/tomato_PDC_ImageDataGenerator'
        model_platform: 'tensorflow'
        model_version_policy: {
            specific: {
                versions: 1
            }
        }
        version_labels{
            key: 'stable'
            value: 1
        }
       
    }

    config: {
        name: 'pepper'
        base_path: '/plant_disease_clf/saved_models/tf-serving/models/pepper_PDC_ImageDataGenerator'
        model_platform: 'tensorflow'
        model_version_policy: {
            specific: {
                versions: 1
            }
        }
        version_labels{
            key: 'stable'
            value: 1
        }
       
    }
}

